<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список брендов</title>
</head>
<body>
<p><a href="/product_control/add_brand/">Добавить новый бренд</a></p>
<h2>Бренды:</h2>
<ul>
{% for brand in object_list %}
    <li><a href = '/products/brand/{{ brand.slug }}/'>{{ brand.name }}</a> (<a href="/brand/{{ brand.slug }}/update/">редактировать</a>/<a href="/brand/{{ brand.slug }}/delete/">удалить</a>)</li>
{% empty %}
    <li>No brands yet.</li>
{% endfor %}
</ul>
</body>
</html>