<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логи</title>
</head>
<body>
<p><a href="/">На домашнюю</a></p>
<br>
<table border="1">
   <caption>Логи прихода и ухода:</caption>
   <tr>
    <th>Продукт</th>
    <th>Тип</th>
    <th>Кол-во</th>
    <th>Дата</th>
   </tr>
{% for log in object_list %}
    <tr>
        <td><a href="/product/{{ log.product.barcode }}/">{{ log.product.name }}</a></td>
        <td>{{ log.type }}</td>
        <td>{{ log.d_amount }}</td>
        <td>{{ log.time }}</td>
    </tr>
{% empty %}
    Логов нет.
{% endfor %}
</table>
</body>
</html>