<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление заказа</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="script" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'shop.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
    <!--Header-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    $(function(){
      $("#header").load("/header.html");
    });
    </script>
    <div id="header"></div>
    <!--End of header-->

    <div class="content">
        <form action="" method="post">{% csrf_token %}
            <p>Вы действительно хотите удалить заказ: "{{ object }}"?</p>
            <button type="submit" class="btn btn-submit">Да</button>
        </form>
    </div>
</body>
</html>