<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уход</title>
</head>
<body>
<h2>Уход:</h2>
<form action="" method="POST">
{% csrf_token %}
    <table>
        <tr>
            <td>Штрихкод:</td>
            <td>{{ form.product }}</td>
        </tr>
        <tr>
            <td>Количество:</td>
            <td>{{ form.d_amount }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Ок" /></td>
        </tr>
    </table>
</form>
</form>
</body>
</html>