<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>

    {% load staticfiles %}

    <!--Bootstrap-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="script" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'shop.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
    <!--Header-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    $(function(){
      $("#header").load("/header.html");
    });
    </script>
    <div id="header"></div>
    <!--End of header-->

    <div class="content">
        <p><a href="/product_control/add_product/">Добавить новый продукт</a><a href="/export/products/" style="float: right">Экспортировать в excel</a></p>
        <label class="control-label" for="search">Поиск:</label>
        <input class="form-control" id="id_search" maxlength="256" name="search" type="text" placeholder="Имя или штрихкод">
        <table class="table table-bordered">
            <caption><h2>Продукты:</h2></caption>
            <tr>
                <th>Продукт</th>
                <th>Штрихкод</th>
                <th>Стоимость</th>
                <th>Кол-во</th>
            </tr>
            {% for product in object_list %}
                <tr>
                    <td class="product_name"><a href="/product/{{ product.barcode }}/">{{ product.name }}</a></td>
                    <td class="product_id">{{ product.barcode }}</td>
                    <td>{{ product.price }}$ / {{ product.price_in_uah }}&#8372;</td>
                    <td>{{ product.amount.num }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>Продуктов нет.</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        $("#id_search").on("keyup", function() {
            value = $(this).val()
            $("table tr").each(function(index) {
                if (index != 0) {

                    $row = $(this);

                    var name = $row.find("td.product_name").text();
                    var id = $row.find("td.product_id").text();

                    if (id.indexOf(value) >= 0 || name.indexOf(value) >= 0) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                }
            });
        });
    </script>
</body>
</html>