<a href="/" class="homelink">
    <div class="head">
            <h1><b>Учёт товаров</b></h1>
    </div>
</a>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/brands/">Бренды</a></li>
            <li><a href="/categories/">Категории</a></li>
            <li><a href="/products/">Все продукты</a></li>

            <li><a href="/income/">Приход</a></li>
            <li><a href="/outcome/">Уход</a></li>

            <li><a href="/providers/">Поставщики</a></li>
            <li><a href="/new_order/">Новый заказ</a></li>

            <li><a href="/bad_orders/">Несошедшиеся заказы</a></li>
            <li><a href="/logs/">Логи прихода и ухода</a></li>

            <li><a href="/accounts/logout/">Выйти</a></li>
        </ul>
    </div>
</nav>