<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контроль продуктов</title>

    {% load staticfiles %}

    <!--Bootstrap-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'static/shop.css' %}">
    <link rel="stylesheet" href="{% static 'static/navbar.css' %}">
</head>
<body>
    <a href="/" class="homelink">
        <div class="head">
            <h1><b>Учёт товаров</b></h1>
        </div>
    </a>
    <div class="content">
        <h2><a href="/brands/">Бренды</a></h2>
        <h2><a href="/categories/">Категории</a></h2>
        <h2><a href="/products/">Все продукты</a></h2>
        <br>
        <h2><a href="/income/">Приход</a></h2>
        <h2><a href="/outcome/">Уход</a></h2>
        <br>
        <h2><a href="/providers/">Поставщики</a></h2>
        <h2><a href="/new_order/">Новый заказ</a></h2>
        <br>
        <h2><a href="/bad_orders/">Несошедшиеся заказы</a></h2>
        <h2><a href="/logs/">Логи прихода и ухода</a></h2>
        <br>
        <h4><a href="/accounts/logout/">Выйти</a></h4>
    </div>
</body>
</html>