.navbar-default {
  background-color: #00695c;
}
.navbar-static-top {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #00897b;
}
.navbar-default .navbar-brand {
  color: #e0f2f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e0f2f1;
}
.navbar-default .navbar-text {
  color: #e0f2f1;
}
.navbar-default .navbar-nav > li > a {
  color: #e0f2f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e0f2f1;
  background-color: #00897b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #00695c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e0f2f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e0f2f1;
  background-color: #00897b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #00897b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e0f2f1;
  background-color: #00897b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e0f2f1;
  background-color: #00897b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e0f2f1;
  background-color: #00897b;
}
.navbar-default .navbar-toggle {
  border-color: #00897b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00897b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0f2f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e0f2f1;
}
.navbar-default .navbar-link {
  color: #e0f2f1;
}
.navbar-default .navbar-link:hover {
  color: #e0f2f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e0f2f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e0f2f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e0f2f1;
    background-color: #00897b;
  }
}